/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.mark-wrap {
  text-align: center;
  padding: 138px 0 37px 0;
  margin: 50px 0;
}

.mark {
  display: inline-block;
  color: #000000;
  padding: 40px 70px;
  border: 3px solid #000000;
  border-radius: 5px;
  position: relative;
  background: #FFFFFF;
}

.mark .text {
  position: relative;
  z-index: 10;
  background: #FFFFFF;
  padding: 3px 8px;

  border-bottom: 1px dashed rgba(0, 0, 0, .5);
  font-size: 15px;

  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  font-family: arial;
  text-transform: uppercase;
}

.mark .text a {
  text-decoration: none;
  color: #000000;
}

.mark .corner {
  border-radius: 5px;
  display: block;

  position: absolute;

  width: 5px;
  height: 5px;
  background: #000000;
}

.circle-one {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: #FFFFFF;
  border: 5px solid #000000;
  top: -40px;
  left: -40px;
  position: absolute;
}

.square-two {
  width: 70px;
  height: 70px;
  background: #FFFFFF;
  border: 5px solid #000000;
  right: -40px;
  bottom: -40px;
  position: absolute;
}

.circle-three {
  width: 200px;
  height: 200px;
  border-radius: 140px;
  background: #FFFFFF;
  border: 3px solid #000000;
  top: -141px;
  right: -30px;
  position: absolute;

  z-index: -1;
}